<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="standard-bg container">
        <main class="register">
            <section>
                <h2>Register</h2>

                <form class="register-form" method="POST" action="profile">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Name"
                        required
                    />
                    <label for="username">Username</label>
                    <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Username"
                        required
                    />
                    <label for="email">Email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Email"
                        required
                    />
                    <label for="age">Age</label>
                    <input
                        type="number"
                        name="age"
                        id="age"
                        placeholder="Age"
                        required
                    />
                    <label for="gender">Gender</label>
                    <select name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                    <label for="interests">Interests</label>
                    <input
                        type="text"
                        name="interests"
                        id="interests"
                        placeholder="Interests"
                        required
                    />
                    <label for="language">Language</label>
                    <input
                        type="text"
                        name="language"
                        id="language"
                        placeholder="Language"
                        required
                    />
                    <label for="country">Country</label>
                    <input
                        type="text"
                        name="country"
                        id="country"
                        placeholder="Country"
                        required
                    />
                    <label for="password">Password</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                        required
                    />
                    <input type="submit" value="Register" />
                </form>

                <p class="log-in-prompt">
                    Already have an account?
                    <a href="/account/login">Log in!</a>
                </p>
            </section>
        </main>
    </body>
</html>
